* {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 0;
  user-select: none;
}
body {
  touch-action: manipulation;
  overflow-x: hidden;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(29, 29, 29);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 3, 3);
}

.app {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* MODAL */

@keyframes modalEnter {
  0% {
    transform: translateY(-90px);
    background-color: #000000;
    filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.089));
    color: #ffffff;
  }
  50% {
    transform: translateY(0);
    background-color: #ffffff;
    color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  70% {
    transform: translateY(0);
    background-color: #ffffff;
    color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  100% {
    transform: translateY(-90px);
    background-color: #000000;
    filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.089));
    color: #ffffff;
  }
}

.modal {
  animation: modalEnter 2s ease-in-out;
  transition: 0.5s ease;
  z-index: 100;
  position: fixed;
  top: 10px;
  left: calc(50vw - 120px);
  width: 240px;
  height: 48px;
  border-radius: 70px;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  cursor: pointer;
}

.modal:hover {
  background-color: #ffffff;
  color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*  HEADER  */
@keyframes hovering {
  0% {
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.185));
  }
  50% {
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.87));
  }
  100% {
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.185));
  }
}


/* PRODUCTS  */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 4vw;
  transition: 0.5s ease;
}
.details{
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin-top: 3px;

  color: #3D3D3D;
    
}
.details p{
  font-weight: 500;
  font-size: 30px;
  color: #535353;
  padding:10px;
}
.details p span{
  font-size: 28px;
  font-weight: 400;
}
.showDetails{
  transition: 0.5s ease;
  cursor: pointer;
  padding:10px;
}
.showDetails:hover{
  color: #ffffff;
  background-color: #000;
}


/* CART BUTTON */

.carticon {
  transition: 0.4s ease;
  z-index: 503;
  position: fixed;
  min-width: 60px;
  min-height: 60px;
  width: 6vw;
  height: 6vw;
  right: 3vw;
  bottom: 5vh;
  box-shadow: 2px 2px 5px #0000009a;
  border-radius: 100px;
  border: none;
  background-color: rgb(3, 3, 3);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartNb {
  z-index: 502;
  position: fixed;
  min-width: 60px;
  min-height: 60px;
  width: 6vw;
  height: 6vw;
  right: 3vw;
  bottom: 5vh;
  border-radius: 100px;
  border: none;
  background-color: rgb(3, 3, 3);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 3px #0000005d;
}

.carticon svg {
  width: 2vw;
  min-width: 20px;
  height: 2vw;
  min-height: 20px;
}

.carticon svg path {
  fill: #ffffff;
}

.carticon:hover {
  opacity: 0;
}

/* FOOTER  */

footer {
  width: 100%;
  height: 10vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 24px;
}

footer h6 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
  width: 100%;
  font-size: 24px;
}
footer h6 span {
  color: rgb(255, 255, 255);
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  footer h6 {
    font-size: 12px;
  }
  footer h6 {
    font-size: 18px;
  }
}
.thanks {
  position: fixed;
  width: 50%;
  height: 50%;
  right: 25%;
  bottom: 25%;
  margin: 0;
  padding: 0;
  z-index: 505;
  background-color: #000000f8;
  box-shadow: 2px 2px 10px #00000048;
  letter-spacing: 2px;

  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.thanks p {
  margin-top: 10%;
  padding-bottom: 30px;
  width: 80%;
  text-align: center;
}
.thanks p span {
  font-weight: 550;
}
@media only screen and (max-width: 750px) {
  .thanks {
    width: 60%;
    height: 40%;
  }
  .thanks p {
    font-size: 15px;
  }
  .thanks p span {
    font-size: 15px;
  }
}
